@model CreateMessageViewModel

<head>
    <link href="~/css/form_style.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "Send Message";
}



<section class="form_page">
    <div class="form_page_container">
        <div class="title">
            <h1>Create Message</h1>

            <p>If you need to infrom us about your order or anythink regarding our company.</p>
        </div>

        <form method="post">

            <div class="form_box">
                <label asp-for="Topic"></label>
                <input asp-for="Topic" />
                <span class="text-danger" asp-validation-for="Topic"></span>
            </div>

            <div class="form_box_textarea">
                <label asp-for="Message"></label>
                <textarea asp-for="Message"></textarea>
                <span class="text-danger" asp-validation-for="Message"></span>
            </div>

            <div class="button_box">
                <button class="btn btn-success" type="submit">Send</button>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>

    </div>
</section>