@model NotesViewModel
@inject SignInManager<UserModel> signInManager;

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link href="~/css/form_style.css" rel="stylesheet" />
    <link href="~/css/team_notes_style.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "Team Notes";
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 16;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">
            <div class="admin_main_panel">

                <section class="notes">
                    <div class="notes_container">

                        <div class="form_page">
                            <div class="form_page_container">

                                <div class="title">
                                    <h1>Create Note</h1>
                                </div>

                                <form method="post">
                                    <div class="form_box">
                                        <label asp-for="NoteTitle"></label>
                                        <input asp-for="NoteTitle" />
                                        <span class="text-danger" asp-validation-for="NoteTitle"></span>
                                    </div>

                                    <div class="form_box_textarea">
                                        <label asp-for="NoteText"></label>
                                        <textarea asp-for="NoteText"></textarea>
                                        <span class="text-danger" asp-validation-for="NoteText"></span>
                                    </div>

                                    <div class="form_box">
                                        <button class="btn btn-success" type="submit">Add note</button>
                                    </div>

                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </form>
                            </div>
                        </div>

                        <div class="display_notes">
                            <div class="display_notes_container">

                                @if (Model.Notes.Any())
                                {
                                    foreach (var n in Model.Notes)
                                    {
                                        <div class="note">
                                            <div class="note_container">
                                                <h2>@n.NoteTitle</h2>
                                                <p class="note_text">@n.NoteText</p>
                                                <p class="note_crator">Posted @n.DatePosted.Day/@n.DatePosted.Month/@n.DatePosted.Year by @n.CreatorsName </p>

                                                @if (n.UserId == Model.UserId)
                                                {
                                                    <div class="note_buttons">
                                                        <button>Edit note</button>
                                                        <button>Delete note</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="title">
                                        <h1>There is no notes</h1>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>