@model AdminMainPanelViewModel

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/sales_statistics_style.css" />

</head>



@{
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 7;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">

            <div class="admin_content_page_container">

                <div class="chart">
                    <div class="chart_container">
                        <div class="title">
                            <h1>Last week statistics (£)</h1>
                        </div>

                        <div class="chart">
                            <div id="chartdivWeek"></div>
                        </div>
                    </div>
                </div>

                <div class="chart">
                    <div class="chart_container">
                        <div class="title">
                            <h1>Last year statistics (£)</h1>
                        </div>

                        <div class="chart">
                            <div id="chartdivYear"></div>
                        </div>
                    </div>
                </div>

                <div class="chart">
                    <div class="chart_container">
                        <div class="title">
                            <h1>Years statistics (£)</h1>
                        </div>

                        <div class="chart">
                            <div id="chartdivYearly"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


<script src="~/js/statistics_column_chart_yearly.js"></script>
<script src="~/js/statistics_column_chart_last_week.js"></script>
<script src="~/js/statistics_column_chart_last_year.js"></script>
