
<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/sales_statistics_style.css" />
</head>



@{
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    ViewBag.Title = "Users Statistics";
    m.LinkId = 8;
}



<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">

            <div class="admin_content_page_container">


                <div class="chart">
                    <div class="chart_container">
                        <div class="title">
                            <h1>Users Registered per month</h1>
                        </div>

                        <div class="chart">
                            <div id="chartdiv_registered"></div>
                        </div>
                    </div>
                </div>

                <div class="chart">
                    <div class="chart_container">
                        <div class="title">
                            <h1>Types Of Users Account</h1>
                        </div>

                        <div class="chart">
                            <div id="chartdiv_users_types"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script src="~/js/users_registered_line_chart.js"></script>
<script src="~/js/users_types_pie_chart.js"></script>