
/*Style for clock*/
.clock {
    width: 200px;
    height: 200px;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Elvis_Presley_promoting_Jailhouse_Rock.jpg/220px-Elvis_Presley_promoting_Jailhouse_Rock.jpg); 
      background-repeat: none;*/
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    /*transform-rotate: 20deg;*/
    transition-timing-function: cubic-bezier(0.1, 2.0, 0.58, 1);
}

/*End of Style for clock*/


.admin_main_panel {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 900px;
}

.admin_main_panel .admin_main_panel_container{
    width:100%;
    max-width: 1000px;
    height:800px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 30px;
}

.admin_main_panel .admin_main_panel_container .box{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
    box-shadow:   10px 10px 14px rgba(0, 0, 0, 0.60);
    height:370px;
    text-align:center;
    font-size:1.3rem;
    font-weight:600;
    padding:0.5em 1em;
    letter-spacing:3px;
    transition:0.5s;
}

.admin_main_panel .admin_main_panel_container .box:hover{
    transform:translateY(-5px);
}

.admin_main_panel .bold{
    font-weight:700;
    letter-spacing:5px;
    font-size:1.5rem;
}

.admin_main_panel .messages i{
    font-size:6rem;
}
