

.create_product_page{
    display:flex;
    justify-content:center;
}

input:focus{
    outline:unset;
}

textarea:focus{
    outline:unset;
}

button:focus{
    outline:unset;
}

.create_product_page{
    padding:5em 0 10em 0;
}

.create_product_page .create_product_page_container {
    width: 100%;
    max-width: 600px;
    background-color: white;
}

.create_product_page .form_box_radio{
    padding:1em 0;
}

.create_product_page .form_box_radio input{
    display:inline;
    width:30px;
}

.create_product_page .title{
    text-align:center;
    padding:2em 0;
    background-color:#205f57;
    color:white;
}

.create_product_page .title h1{
    font-weight: 700;
    letter-spacing:3px;
}

.create_product_page .two_boxes{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 1em;
}

.create_product_page form{
    padding:1em 3em;
}

.create_product_page .form_box{
    margin:1em 0;
    height:100px;
}

.create_product_page label{
    display:block;
    text-align:center;
    letter-spacing:3px;
    text-transform:uppercase;
    font-weight:800;
}

.create_product_page input{
    width:100%;
    border:unset;
    border-radius:unset;
    border-bottom:3px solid #c4c4c4;
    transition:0.5s border;
}

.create_product_page input:focus{
    border-bottom: 3px solid #307e69;
}

.create_product_page .form_box_textarea{
    height:150px;
}

.create_product_page textarea {
    width: 100%;
    border:3px solid #c4c4c4;
    border-radius: unset;
    transition: 0.5s border;
    height: 100px;
    resize: none;
    overflow-y: scroll;
}


.create_product_page textarea::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.create_product_page textarea::-webkit-scrollbar-track {
    width:0px;
}

/* Handle */
.create_product_page textarea::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.create_product_page textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.create_product_page textarea:focus {
    border: 3px solid #307e69;
}

.create_product_page button{
    margin-top:1em;
    float:right;
    background-color:#307e69;
    color:white;
    padding:0.5em;
    font-size:1.2rem;
    letter-spacing:3px;
    border-radius: unset;
    text-transform:uppercase;
    font-weight:700;
    transition: 0.5s;
}

.create_product_page button:hover{
    background-color:#3ea086;
}

.button_box {
    display: block;
    padding: 1em 0;
    text-align:center;
}

.button_box button{
    margin:0;
    float:unset;
    font-weight:700;
    width: 300px;
}