
button:focus{
  outline:unset;
}

header {
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items:center;
    margin-bottom:5em;
}

header .header_container{
    width:100%;
    max-width:1550px;
    height:800px;
    display:grid;
    background-color:white;
    grid-template-columns: 1fr 1fr;
    box-shadow:  12px 12px 24px rgba(0, 0, 0, 0.40);
}

header .left_side{
    display:flex;
    justify-content:center;
    padding: 0 6em;
}

header .left_side h1{
    margin-top:1.4em;
    font-size:7rem;
}

header .left_side p{
    padding-top:1.3em;
    font-size:1.2rem;
}

header .left_side .thematic_images{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header .left_side .icon{
    margin-top:4.5em;
    text-align:center;
    border-radius: 50%;
    transition: 0.5s;
}

header .left_side .icon:hover{
    color:  rgba(81, 151, 89, 1);
}

header .left_side .icon i{
    font-size:3rem;
}

header .left_side .icon p{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:3px;
}

header .right_side{
    background-image:url(../other_images/BacgroundHeaderImg.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
}

header .right_side button{
    font-size:1.8rem;
    background-color:white;
    border: unset;
    height:200px;
    width:200px;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:2px;
    border-radius:50%;
    transition: 0.5s;
}

header .right_side button:hover{
    transform:translateY(-8px);
}


@media screen and (max-width: 1200px){
    header {
        height: 100%;

    }

    header .header_container {
        grid-template-columns: 1fr;
        height:100%;
    }

    header .right_side{
        height:400px;
    }
}


@media screen and (max-width: 550px){
    header .left_side {
        padding: 0 1em;
    }

    header .left_side h1{
        margin-top:1.4em;
        font-size:4rem;
    }

}

/*End of header*/


/*About*/
.about{
    margin:10em 0;
    display:flex;
    justify-content:center;
}

.about .about_container{
    width:100%;
    max-width: 1550px;
}

.about img{
    width:100%;
    height:660px;
}

.about .about_card{
    display:flex;
    justify-content:center;
    padding:4em 0;
}

.about .about_card_container{
    width:100%;
    display:grid;
    grid-template-columns: 60% 40%;
    box-shadow:  12px 12px 24px rgba(0, 0, 0, 0.40);
}

.about .about_card_container_right{
    width:100%;
    display:grid;
    grid-template-columns: 40% 60%;
    box-shadow:  12px 12px 24px rgba(0, 0, 0, 0.40);
}

.about .description{
    background-color:white;
}

.about p{
    margin:0;
}

.about .title{
    text-align:center;
    padding:10em 0 2em 0;
}

.about .title h3{
    font-size:3rem;
    letter-spacing:4px;
    font-weight:700;
}

.about .text{
    padding:3em 2.5em 4em 2.5em;
}

.about .text p{
    line-height:35px;
    font-size:1.2rem;
    font-weight:600;
    letter-spacing:3px;
}


@media screen and (max-width: 1160px){
    .about .title {
        text-align: center;
        padding: 5em 0 2em 0;
    }

    .about .text {
        padding: 2em 2.5em 4em 2.5em;
    }

    .about .text p{
        line-height:32px;
    }
}

@media screen and (max-width: 1000px) {
    .about .about_card_container_right {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "Img"
            "TXT";
        width:100%;
        max-width:500px;
    }

    .about .about_card_container_right .img_container{
        grid-area: Img;
    }

    .about .about_card_container_right .description {
        grid-area: TXT;
    }

    .about .about_card_container {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 500px;
    }
}

    /*End of about*/
