
.manage_roles{
    display:flex;
    justify-content:center;
    width:100%;
    padding-top:5em;
}


.manage_roles .manage_roles_container{
    width:100%;
    max-width:700px;
    box-shadow:   10px 10px 15px rgba(0, 0, 0, 0.40);
}

.manage_roles .title{
    text-align:center;
    padding:2em 0;
    background-color:#1e5a52;
    color:white;
}

.manage_roles .add_button{
    text-align:center;
    padding:2em 0;
    border-bottom: 1px solid rgba(155, 155, 155, 0.50);
}

.manage_roles .add_button a{
    margin-top:1em;
    background-color:#307e69;
    color:white;
    padding:0.5em;
    font-size:1.2rem;
    letter-spacing:3px;
    border-radius: unset;
    text-transform:uppercase;
    font-weight:700;
    transition: 0.5s;
}

.manage_roles .add_button a:hover{
    background-color:#3ea086;
}

.manage_roles .role{
    padding: 2em 3em;
    border-bottom: 1px solid rgba(155, 155, 155, 0.50);
}

.manage_roles .button_box{
    padding: 1em 0;
}

.manage_roles .role a{
    margin-top:1em;
    background-color:#307e69;
    color:white;
    padding:0.2em 0.5em;
    font-size:1.1rem;
    letter-spacing:3px;
    border-radius: unset;
    text-transform:uppercase;
    font-weight:700;
    transition: 0.5s;
}

.manage_roles .role a:hover{
    background-color:#3ea086;
}