.table_page_container
{
    background-color:transparent!important;
}

.table_page_container table{
    background-color:white;
}

.table_page_container tr{
    padding:0.2em 0;
    border-bottom: 1px solid rgba(26, 68, 86, 0.60);
}

.table_page_container input{
    text-align:center;
}

.button_container{
    text-align:center;
    padding:1em 0;
}

.button_container button{
    background-image:linear-gradient(90deg, rgba(0,86,97,1) 0%, rgba(0,120,144,1) 46%, rgba(0,127,175,1) 100%);
    border:unset;
    font-size:1.7rem;
    padding:0.5em 0.3em;
    color:white;
    font-weight:700;
    transition:0.5s;
}

.button_container button:hover{
   transform: translateY(-3px);
}