@model CreateRoleViewModel

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/create_role_style.css"/>
</head>

@{
    ViewBag.Title = "Create New Role";
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 18;
}


<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">
            <div class="admin_main_panel">
                <form asp-action="CreateRole" method="post">
                    <div asp-validation-summary="All" class="text-danger">
                    </div>
                    <div class="form_box">
                        <label asp-for="RoleName"></label>
                        <div>
                            <input asp-for="RoleName" class="form-control" placeholder="Name">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form_box">
                        <div>
                            <button type="submit" class="btn btn-primary" style="width:auto">
                                Create Role
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

