@model EditRoleViewModel

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/form_style.css" />
</head>

@{
    ViewBag.Title = "Edit role";
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 19;
}


<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">
            <div class="admin_main_panel">

                <section class="form_page">
                    <div class="form_page_container">
                        <div class="title">
                            <h1>Edit Role</h1>
                        </div>

                        <form method="post">
                            <div class="form_box">
                                <label asp-for="Id"></label>
                                <div>
                                    <input asp-for="Id" disabled class="form-control">
                                </div>
                            </div>
                            <div class="form_box">
                                <label asp-for="RoleName"></label>
                                <div>
                                    <input asp-for="RoleName" class="form-control">
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="button_box">
                                <button type="submit">Update</button>
                                <a asp-action="ManageRoles">Cancel</a>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3>Users in this role</h3>
                                </div>
                                <div class="card-body">
                                    @if (Model.Users.Any())
                                    {
                                        foreach (var user in Model.Users)
                                        {
                                            <h5 class="card-title">@user</h5>
                                        }
                                    }
                                    else
                                    {
                                        <h5 class="card-title">None at the moment</h5>
                                    }
                                </div>
                                <div class="button_box">
                                    <a asp-action="EditUsersInRole" asp-controller="Admin" asp-route-RoleId="@Model.Id" class="btn btn-primary" style="width:auto">Add or Remove</a>
                                </div>
                            </div>
                        </form>

                        <div class="button_container">
                            <form method="post" asp-action="DeleteRole" asp-controller="AdminController" asp-route-Id="@Model.Id">
                                <button onclick="return confirm('Are you sure you want to delete role: @Model.RoleName')" type="submit">Delete Account</button>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>