
<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/admin_display_products_style.css"/>
    <link rel="stylesheet" href="~/css/admin_main_panel.css" />
</head>

@{ 
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 1;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m"/>

        <div class="admin_content_page">

            <div class="admin_main_panel">
                <div class="admin_main_panel_container">

                    <div class="clock_box">
                        <div class="clock_box_container">
                            <div class="clock">
                                <div class="clock-face">
                                    <div class="hand hour-hand"></div>
                                    <div class="hand min-hand"></div>
                                    <div class="hand second-hand"></div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </div>

    </div>
</section>

<script src="~/js/clock_script.js"></script>



