
<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
</head>

<section class="admin_site">
    <div class="admin_site_container">

        <div class="admin_navigation">
            <div class="admin_navigation_container">
                <div class="admin_profile">

                    <div class="profile_img">
                        <div class="profile_img_container">
                            <img src="~/other_images/user.svg" alt="user_profile_img" />
                        </div>
                    </div>

                    <div class="profile_description">
                        <p>Mateusz Owczarek</p>
                        <p>Role: Store Owner</p>
                    </div>
                </div>

                <div class="controll_list">
                    <div class="controll_name">
                        <p>Product</p>
                    </div>

                    <ul>
                        <li>
                            <a><i class="fas fa-plus-circle"></i> Create Product</a>
                        </li>

                        <li>
                            <a><i class="fas fa-list"></i> Display Products</a>
                        </li>
                    </ul>
                </div>


                <div class="controll_list">
                    <div class="controll_name">
                        <p>Users</p>
                    </div>

                    <ul>
                        <li>
                            <a><i class="fas fa-users"></i> See users</a>
                        </li>

                        <li>
                            <a><i class="fas fa-user-friends"></i> Open statistics</a>
                        </li>
                    </ul>
                </div>


                <div class="controll_list">
                    <div class="controll_name">
                        <p>Sales</p>
                    </div>

                    <ul>
                        <li>
                            <a><i class="fas fa-user-circle"></i> User Orders</a>
                        </li>

                        <li>
                            <a><i class="fas fa-money-bill-wave"></i> Statistics</a>
                        </li>

                        <li>
                            <a><i class="fas fa-database"></i> Product Statistics</a>
                        </li>
                    </ul>
                </div>

                <div class="controll_list">
                    <div class="controll_name">
                        <p>CMS</p>
                    </div>

                    <ul>
                        <li>
                            <a><i class="fas fa-edit"></i> Edit Main Page</a>
                        </li>

                        <li>
                            <a><i class="fas fa-edit"></i> Edit Products Page</a>
                        </li>
                    </ul>
                </div>

                <div class="controll_list">
                    <div class="controll_name">
                        <p>Stock</p>
                    </div>

                    <ul>
                        <li>
                            <a><i class="fas fa-truck"></i> Order Products</a>
                        </li>

                        <li>
                            <a><i class="fas fa-history"></i> Orders History</a>
                        </li>
                    </ul>
                </div>

                <div class="controll_list">
                    <div class="controll_name">
                        <p>Organiser</p>
                    </div>

                    <ul>
                        <li>
                            <a><i class="fas fa-comments"></i> Team Chat</a>
                        </li>

                        <li>
                            <a><i class="fas fa-clipboard"></i> Notes</a>
                        </li>

                        <li>
                            <a><i class="fas fa-inbox"></i> Message Board</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="admin_content_page">

        </div>

    </div>
</section>