@model IEnumerable<IdentityRole>

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/manage_roles_style.css" />
</head>

@{
    ViewBag.Title = "Manage Roles";
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 19;
}


<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">

            <section class="manage_roles">
                <div class="manage_roles_container">
                    <div class="title">
                        <h1>All Roles</h1>
                    </div>


                    @if (Model.Any())
                    {

                        <div class="add_button">
                            <a asp-action="CreateRole" asp-controller="Admin">Add new role</a>
                        </div>

                        foreach (var role in Model)
                        {
                            <div class="role">
                                <div>
                                    <p>Role Id : @role.Id</p> 
                                </div>
                                <div>
                                    <h5>Role name: @role.Name</h5>
                                </div>
                                <div class="button_box">
                                    <a asp-controller="Admin" asp-action="EditRole" asp-route-Id="@role.Id">Edit</a>
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div>
                                <h1>No roles have been created</h1>
                            </div>

                            <div>
                                <a asp-controller="administration" asp-action="CreateRole">
                                    Create Role
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </section>

        </div>
    </div>
</section>