@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Online Grocary";
}

<head>
    <link rel="stylesheet" href="~/css/index_cover.css" />
</head>

<header>
    <div class="header_container">

        <div class="left_side">

            <div class="text_content">
                <h1>Online <br /> Grocery</h1>
                <p>Welcome to our online grocery. Get the best quality products delivered to your door. We get our products from local farmers and producers. Try our offer and become member of our family.</p>

                <div class="thematic_images">
                    <div class="icon">
                        <i class="fas fa-seedling"></i>
                        <p>Organic</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-apple-alt"></i>
                        <p>Fresh</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-hamburger"></i>
                        <p>Your creation</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="right_side">

            <button>Explore <i class="fas fa-arrow-right"></i></button>

        </div>

    </div>
</header>


<section class="about">
    <div class="about_container">

        <div class="about_card">
            <div class="about_card_container">

                <div class="img_container">
                    <img src="~/other_images/about_quality.jpg" />
                </div>

                <div class="description">
                    <div class="title">
                        <h3>Quality product</h3>
                    </div>

                    <div class="text">
                        <p>CONFERMATA LA DATA DI USCITA DEL 16 LUGLIO! ⚡ Per i nuovi charms Pandora Harry Potter! Non li troverete né online né alla vendita al pubblico nei negozi prima di giovedì, ma ci sono già! Potete chiamare nei negozi e chiedere conferma!</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="about_card">
            <div class="about_card_container_right">

                <div class="description">
                    <div class="title">
                        <h3>Trusted suppliers</h3>
                    </div>

                    <div class="text">
                        <p>CONFERMATA LA DATA DI USCITA DEL 16 LUGLIO! ⚡ Per i nuovi charms Pandora Harry Potter! Non li troverete né online né alla vendita al pubblico nei negozi prima di giovedì, ma ci sono già! Potete chiamare nei negozi e chiedere conferma!</p>
                    </div>
                </div>

                <div class="img_container">
                    <img src="~/other_images/supliers.jpg" />
                </div>

            </div>
        </div>

        <div class="about_card">
            <div class="about_card_container">

                <div class="img_container">
                    <img src="~/other_images/organic_about.jpg" />
                </div>

                <div class="description">
                    <div class="title">
                        <h3>Organic</h3>
                    </div>

                    <div class="text">
                        <p>CONFERMATA LA DATA DI USCITA DEL 16 LUGLIO! ⚡ Per i nuovi charms Pandora Harry Potter! Non li troverete né online né alla vendita al pubblico nei negozi prima di giovedì, ma ci sono già! Potete chiamare nei negozi e chiedere conferma!</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

