@model IndexViewModel

@{
    ViewBag.Title = "Online Grocary";
}

<head>
    <link rel="stylesheet" href="~/css/index_cover.css" />
</head>

<header>
    <div class="header_container">

        <div class="left_side">

            <div class="text_content">
                <h1>Online <br /> Grocery</h1>
                <p>Welcome to our online grocery. Get the best quality products delivered to your door. We get our products from local farmers and producers. Try our offer and become member of our family.</p>

                <div class="thematic_images">
                    <div class="icon">
                        <i class="fas fa-seedling"></i>
                        <p>Organic</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-apple-alt"></i>
                        <p>Fresh</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-hamburger"></i>
                        <p>Your creation</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="right_side">

            <button>Explore <i class="fas fa-arrow-right"></i></button>

        </div>

    </div>
</header>


<section class="about">
    <div class="about_container">

        <div class="about_card">
            <div class="about_card_container">

                <div class="img_container">
                    <img src="~/other_images/about_quality.jpg" />
                </div>

                <div class="description">
                    <div class="title">
                        <h3>Quality product</h3>
                    </div>

                    <div class="text">
                        <p>CONFERMATA LA DATA DI USCITA DEL 16 LUGLIO! ⚡ Per i nuovi charms Pandora Harry Potter! Non li troverete né online né alla vendita al pubblico nei negozi prima di giovedì, ma ci sono già! Potete chiamare nei negozi e chiedere conferma!</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="about_card">
            <div class="about_card_container_right">

                <div class="description">
                    <div class="title">
                        <h3>Trusted suppliers</h3>
                    </div>

                    <div class="text">
                        <p>CONFERMATA LA DATA DI USCITA DEL 16 LUGLIO! ⚡ Per i nuovi charms Pandora Harry Potter! Non li troverete né online né alla vendita al pubblico nei negozi prima di giovedì, ma ci sono già! Potete chiamare nei negozi e chiedere conferma!</p>
                    </div>
                </div>

                <div class="img_container">
                    <img src="~/other_images/supliers.jpg" />
                </div>

            </div>
        </div>

        <div class="about_card">
            <div class="about_card_container">

                <div class="img_container">
                    <img src="~/other_images/organic_about.jpg" />
                </div>

                <div class="description">
                    <div class="title">
                        <h3>Organic</h3>
                    </div>

                    <div class="text">
                        <p>CONFERMATA LA DATA DI USCITA DEL 16 LUGLIO! ⚡ Per i nuovi charms Pandora Harry Potter! Non li troverete né online né alla vendita al pubblico nei negozi prima di giovedì, ma ci sono già! Potete chiamare nei negozi e chiedere conferma!</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>



<section class="our_products">
    <div class="our_products_container">
        <div class="title">
            <h1>Our Products</h1>
        </div>

        <div class="button_container">
            <div class="button_c">
                <a asp-controller="Product" asp-action="DisplayProducts"  asp-route-id="1">GO <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>



<section class="contact_form">
    <div class="contact_form_container">

        <div class="left_contact">
            <div class="left_contact_container">
                <div class="title">
                    <h3>Lets get in touch</h3>
                </div>

                <div class="text">
                    <p>Leave us review or advice</p>
                </div>


                <div class="contact_means">
                    <div class="contact">
                        <div class="icon">
                            <i class="fas fa-phone"></i>
                        </div>

                        <div class="desc">
                            <p>+44 569458423</p>
                            <p>+44 548625987</p>
                        </div>
                    </div>


                    <div class="contact">
                        <div class="icon">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>

                        <div class="desc">
                            <p>onlinegrocery@gmail.com</p>
                            <p>organicnetwork@gmail.com</p>
                        </div>
                    </div>

                    <div class="contact">
                        <div class="icon">
                            <i class="fas fa-search-location"></i>
                        </div>

                        <div class="desc">
                            <p>11 High Road</p>
                            <p>N64 LT</p>
                            <p>London</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="right_contact">
            <div class="right_contact_container">
                <form enctype="multipart/form-data" method="post">

                    <div class="form_box">
                        <label asp-for="Name"><i class="fas fa-user"></i> Your Name</label>
                        <input asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="form_box">
                        <label asp-for="Email"><i class="fas fa-envelope-open-text"></i> Your Email</label>
                        <input asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="form_box">
                        <label asp-for="Message"><i class="fas fa-comment-dots"></i> Your Message</label>
                        <textarea asp-for="Message"></textarea>
                        <span class="text-danger" asp-validation-for="Message"></span>
                    </div>

                    <div class="form_box">
                        <button type="submit">Send Message</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</section>

